---
extends: relaxed

rules:
  line-length: disable

ignore: |
  node_modules/
  vendor/
  .git/
  dist/
  build/
  # Exclude generated YAML files, which may use things like complex key
  # syntax which yamllint doesn't understand, or have other oddities
  # we don't have much control over from gopkg.in/yaml.v3
  pkg/variantregistry/snapshot.yaml
  config/openshift.yaml
