---
extends: relaxed

rules:
  line-length: disable

ignore: |
  node_modules/
  vendor/
  .git/
  dist/
  build/
  # Generated YAML files by Go, which yamllint may sometimes be unhappy
  # about:
  #   - YAML complex key syntax (? key\n: value)
  #   - other random spacing issues
  pkg/variantregistry/snapshot.yaml
  pkg/variantregistry/snapshot.yaml
  config/openshift.yaml
