# This file is used as an overlay to customize the generated config, so it contains the Presubmit pseudorelease.
prow:
  url: https://prow.ci.openshift.org/prowjobs.js
componentReadiness:
  variantJunitTableOverrides:
    - variantName: JobTier
      variantValue: rare
      tableName: junit_rarely_run_jobs
      relativeStart: end-90d
releases:
  "3.11":
    jobs:
      periodic-ci-openshift-openshift-ansible-release-3.11-e2e-aws-nightly: true
      periodic-ci-openshift-openshift-ansible-release-3.11-e2e-gcp-nightly: true
      periodic-ci-openshift-origin-release-3.11-e2e-gcp: true
  hcm-integration:
    addRelease: true
    jobs:
          periodic-ci-Azure-ARO-HCP-main-periodic-create-aro-hcp-in-integration: true
  Presubmits:
    addRelease: true
    regexp:
      - "^pull-ci-openshift-.*-(master|main).*-e2e-.*"
      - "^pull-ci-operator-framework.*-(master|main).*-e2e-.*"
      - "^pull-ci-openshift-online.*-(master|main).*-(verify|unit).*"
