a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #33f;
}
table {
    margin-top: 0.5em;
    table-layout: fixed;
    width: 100%;
}
.col-header {
    text-align: center;
}
.col-header input {
    box-sizing: border-box;
    width: 100%;
}
.col-name {
    width: 700px;
}
.col-day {
    width: 200px;
    background: #eee;
}
.results {
    display: flex;
}
.results-demo {
    width: 30px;
    display: inline-flex;
}
.legend-item {
    margin-right: 1em;
}
.result {
    color: black;
    flex: 1 1 auto;
    text-align: center;
    background: #aaa;
}
.result:hover {
    color: black;
}
.result-F { background: #a00; }
.result-f { background: #d33; }
.result-U { background: #d60; }
.result-I { background: #d60; }
.result-N, .result-N:hover { background: #633; color: #a99; }
.result-n, .result-n:hover { background: #633; color: #a99; }
.result-S { background: #0a0; }
